<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title></title>
  </head>
  <body>
    <div class="navbar">
      <nav id="bakerynav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/cookies">Cookies</a></li>
          <li><a href="/cakes">Cakes</a></li>
          <li><a href="/muffins">Muffins</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>

    </div>

    <script src="main.js" charset="utf-8"></script>

    <% yield %>

  </body>
</html>
